<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerAdmin webmaster@domain.tld
        DocumentRoot /path/to/laravel/public
        ServerName domain.tld

        <Directory />
            Options -Indexes +FollowSymLinks +MultiViews
            AllowOverride All
            Require all granted

            <IfModule mod_rewrite.c>
                RewriteEngine On
                RewriteCond %{REQUEST_FILENAME} !-f
                RewriteCond %{REQUEST_FILENAME} !-d
                RewriteRule ^(.*)$  /index.php/$1 [L]
            </IfModule>
        </Directory>
        <IfModule mod_dir.c>
             DirectoryIndex index.html index.php
        </IfModule>
    </VirtualHost>
</IfModule>
